html, body {
    margin: 0;
    padding: 0;
}

.user-container::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.user-container::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.user-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}